    h1,
    a {
        color: slateblue;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
    }
    
    h2 {
        color: slateblue;
        text-align: center;
        font-size: 30px;
    }
    
    table {
        color: white;
        background-color: slateblue;
    }